<footer>
    <div class="content-footer">
        <div class="content-foo">
            <h4>Telefono</h4>
            <p>3224006071</p>
        </div>
        <div class="content-foo">
            <h4>Correo</h4>
            <p>empresatata</p>
        </div>
        <div class="content-foo">
            <h4>Dirección</h4>
            <p>Cra. 60 #9740, Bogotá</p>
        </div>
    </div>
    </div>
    <h2 class="Titulo-final">&copy;TecnoShop | 2024</h2>
</footer>
</body>
<script src="./assets/js/carrusel.js"></script>
</html>