<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/principal.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/navbar.css" type="text/css">
    <script src="https://kit.fontawesome.com/0c6fc617e5.js" crossorigin="anonymous"></script>
    <title>Inicio</title>
</head>
<body>
    <div class="encabezado">
            <nav>
                <ul>
                    <a href="/"><i class="fa-solid fa-house" id="home"></i></a>
                    <a href="../login"><i class="fa-solid fa-user"  id="user"></i></a>
                   <a href="../registro"> <i class="fa-solid fa-cart-shopping"  id="carrito_compras"></i></a>
                    <div class="contenedor_buscar">
                        <input type="text" placeholder="Buscar">
                        <div class="btn_buscar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </ul>
            </nav>
    </div>

