*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image:url(../img/open_inicio.jpg);/* Esto es para tener una imagen de fondo*/
    background-size: cover; /*El background cover hace que la imagen se adapte sin estirarla*/
    background-repeat: no-repeat; /*Esto hace que no se repita mas de una vez*/
    background-position: center; /*Hace que la imagen se centre*/
    background-attachment: fixed; /*Hace que ocupe toda la pantalla y se vea uniforme*/
}

main{
    width: 100%;
    padding: 20px;
    margin: auto; /*para que quede centrado*/
    margin-top: 100px;
}

.contenedor_todo{
    width: 100%;
    max-width: 800px;
    margin: auto; /*para que quede centrado*/
    position: relative; /*el relative hara que un elemento que siga el flujo del documento*/
}
/*Parte de atras del formulario*/
.caja_trasera{
    width: 100%;
    padding: 10px 20px; /*El primero es mantener una espacio de arriba hacia abajo y el segundo de izquierda a derecha*/
    display: flex; /*El flex hace que este uno al lado del otro*/
    justify-content: center; /*Hace que el texto se justifique*/
    backdrop-filter: blur(10px);/*Esto hace un desenfoque en el fondo*/
    background-color: rgba(80, 91, 218, 0.5); /*cambio de color el ultimo componente es para la opacidad*/
}

.caja_trasera div{
    margin: 100px 40px;
    color: azure;
    transition: all 500ms; /*hace una transicion de todo*/
}

.caja_trasera div p,
.caja_trasera div button{
    margin-top: 30px;
}

.caja_trasera div h3{
    font-weight: 500; /*sirve para reducir o aumentar la negrilla*/
    font-size: 26px;
}
.caja_trasera button{
    padding: 10px 40px;
    border: 2px solid azure;
    background: transparent; /*hace el fondo transparente*/ 
    font-size: 15px;
    font-weight: 600; /*sirve para reducir o aumentar la negrilla*/
    cursor: pointer; /*hace que el cursor se vea seleccionable*/
    color: azure;
    outline: none; /*hace q no aparezca la linea negra dentro del boton*/
    transition: all 300ms;
}
.caja_trasera button:hover{
    background: azure;
    color: #505BDA;
}
/*parte de adelante de los formularios*/

.contenedor_login_registrar{
    display: flex;        /*para que los posicione de manera vertical*/
    align-items: center; /*hace q los items se pongan en el centro*/
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px; /*el menos hace que se ponga hacia arriba*/ 
    left: 10px; /*espacio hacia la derecha*/
    /*apartado de animacion de efectos de transicion de lado a lado de la pagina*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320 , 1.275);

}
.contenedor_login_registrar form{
    width: 100%;
    padding: 80px 20px ;
    background: azure;
    position: absolute; /*La posicion absoluta se pone enfrente de todo*/
    border-radius: 20px;
}

.contenedor_login_registrar form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #505BDA;
}

.contenedor_login_registrar form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;  /*hace q no aparezca la linea negra dentro del boton*/   
}
.contenedor_login_registrar form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background:#505BDA;
    color: azure;
    cursor: pointer;
    outline: none;  /*hace q no aparezca la linea negra dentro del boton*/   
}

.formulario_login{
    opacity: 1;
    display: block;
}
.formulario_registrarse{
    display: none;   
}

/*Responsive*/

@media screen and (max-width:850px){
    main{
        margin-top:50px;
    }
    .caja_trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja_trasera div{
        margin: 0px;
        position: absolute;
    }
    /*formulario*/
    /*hace la posicion del formulario*/
    .contenedor_login_registrar{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_login_registrar form{
        position: relative; /*coloca el texto en el medio*/
    }
}